.Rproj.user
.Rhistory
.RData
.RData
.Ruserdata
/intermediate_data*
.Rproj*
GEO_MUN_2013_IBGE_merged.gpkg
MUN_dist_long.csv
transport_cost.csv
gis_osm_roads_free_1*
2013Carga.txt
/GAMS/2*
*.log*
*.lst
*.lxi
*.gdx
/temp
/lib
/input_data/FABIO/FABIO_exp/pure
/input_data/FABIO/FABIO_exp/v0
/results*